@mixin mg-sec-x($rowsize) {
  height: 100% / 60 * $rowsize;
  flex-shrink: 0;
}

[class^="mg-row"], [class^="mg-row"] > [class^="mg-sec"], [class^="mg-row"] > [class^="mg-sec"] > [class^="mg-sec"] {
  & > [class^="mg-sec"] {
    flex-direction: column;
  }

  & > [class^="mg-sec-1"] {
    @include mg-sec-x(1);
  }

  & > [class^="mg-sec-2"] {
    @include mg-sec-x(2);
  }

  & > [class^="mg-sec-3"] {
    @include mg-sec-x(3);
  }

  & > [class^="mg-sec-4"] {
    @include mg-sec-x(4);
  }

  & > [class^="mg-sec-5"] {
    @include mg-sec-x(5);
  }

  & > [class^="mg-sec-6"] {
    @include mg-sec-x(6);
  }

  & > [class^="mg-sec-7"] {
    @include mg-sec-x(7);
  }

  & > [class^="mg-sec-8"] {
    @include mg-sec-x(8);
  }

  & > [class^="mg-sec-9"] {
    @include mg-sec-x(9);
  }

  & > [class^="mg-sec-10"] {
    @include mg-sec-x(10);
  }

  & > [class^="mg-sec-11"] {
    @include mg-sec-x(11);
  }

  & > [class^="mg-sec-12"] {
    @include mg-sec-x(12);
  }

  & > [class^="mg-sec-13"] {
    @include mg-sec-x(13);
  }

  & > [class^="mg-sec-14"] {
    @include mg-sec-x(14);
  }

  & > [class^="mg-sec-15"] {
    @include mg-sec-x(15);
  }

  & > [class^="mg-sec-16"] {
    @include mg-sec-x(16);
  }

  & > [class^="mg-sec-17"] {
    @include mg-sec-x(17);
  }

  & > [class^="mg-sec-18"] {
    @include mg-sec-x(18);
  }

  & > [class^="mg-sec-19"] {
    @include mg-sec-x(19);
  }

  & > [class^="mg-sec-20"] {
    @include mg-sec-x(20);
  }

  & > [class^="mg-sec-21"] {
    @include mg-sec-x(21);
  }

  & > [class^="mg-sec-22"] {
    @include mg-sec-x(22);
  }

  & > [class^="mg-sec-23"] {
    @include mg-sec-x(23);
  }

  & > [class^="mg-sec-24"] {
    @include mg-sec-x(24);
  }

  & > [class^="mg-sec-25"] {
    @include mg-sec-x(25);
  }

  & > [class^="mg-sec-26"] {
    @include mg-sec-x(26);
  }

  & > [class^="mg-sec-27"] {
    @include mg-sec-x(27);
  }

  & > [class^="mg-sec-28"] {
    @include mg-sec-x(28);
  }

  & > [class^="mg-sec-29"] {
    @include mg-sec-x(29);
  }

  & > [class^="mg-sec-30"] {
    @include mg-sec-x(30);
  }

  & > [class^="mg-sec-31"] {
    @include mg-sec-x(31);
  }

  & > [class^="mg-sec-32"] {
    @include mg-sec-x(32);
  }

  & > [class^="mg-sec-33"] {
    @include mg-sec-x(33);
  }

  & > [class^="mg-sec-34"] {
    @include mg-sec-x(34);
  }

  & > [class^="mg-sec-35"] {
    @include mg-sec-x(35);
  }

  & > [class^="mg-sec-36"] {
    @include mg-sec-x(36);
  }

  & > [class^="mg-sec-37"] {
    @include mg-sec-x(37);
  }

  & > [class^="mg-sec-38"] {
    @include mg-sec-x(38);
  }

  & > [class^="mg-sec-39"] {
    @include mg-sec-x(39);
  }

  & > [class^="mg-sec-40"] {
    @include mg-sec-x(40);
  }

  & > [class^="mg-sec-41"] {
  @include mg-sec-x(41);
  }

  & > [class^="mg-sec-42"] {
    @include mg-sec-x(42);
  }

  & > [class^="mg-sec-43"] {
    @include mg-sec-x(43);
  }

  & > [class^="mg-sec-44"] {
    @include mg-sec-x(44);
  }

  & > [class^="mg-sec-45"] {
    @include mg-sec-x(45);
  }

  & > [class^="mg-sec-46"] {
    @include mg-sec-x(46);
  }

  & > [class^="mg-sec-47"] {
    @include mg-sec-x(47);
  }

  & > [class^="mg-sec-48"] {
    @include mg-sec-x(48);
  }

  & > [class^="mg-sec-49"] {
    @include mg-sec-x(49);
  }

  & > [class^="mg-sec-50"] {
    @include mg-sec-x(50);
  }

  & > [class^="mg-sec-51"] {
    @include mg-sec-x(51);
  }

  & > [class^="mg-sec-52"] {
    @include mg-sec-x(52);
  }

  & > [class^="mg-sec-53"] {
    @include mg-sec-x(53);
  }

  & > [class^="mg-sec-54"] {
    @include mg-sec-x(54);
  }

  & > [class^="mg-sec-55"] {
    @include mg-sec-x(55);
  }

  & > [class^="mg-sec-56"] {
    @include mg-sec-x(56);
  }

  & > [class^="mg-sec-57"] {
    @include mg-sec-x(57);
  }

  & > [class^="mg-sec-58"] {
    @include mg-sec-x(58);
  }

  & > [class^="mg-sec-59"] {
    @include mg-sec-x(59);
  }

  & > [class^="mg-sec-60"] {
    @include mg-sec-x(60);
  }
}
